/* ------------------------- */
/* BASICS */
/* ------------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', Tahoma, Arial, sans-serif;
}

a:link,
a:visited {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}

/* ------------------------- */
/* REUSABLE ELEMENTS */
/* ------------------------- */

.wrap {
    max-width: 1054px;
    margin: 0 auto;
}

.wrap--header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap--slider {
    height: 100%;
    position: relative;
}

.wrap--products,
.wrap--footer {
    display: flex;
    justify-content: space-between;
}

.wrap--footer {
    align-items: flex-end;
}

/* .wrap--prices {} */

/* headings */
.heading-2 {
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.prices .heading-2 {
    padding: 44px 0 76px 0;
}

.contact .heading-2 {
    padding: 32px 0 44px 0;
}

.heading-3 {
    font-size: 1.6rem;
    font-weight: 400;
}

.product-card .heading-3 {
    padding: 12px 14px;
}

.heading-2::after,
.heading-3::after {
    content: "";
    display: block;
    background-color: #5EC9AC;
    height: 7px;
    margin-top: 2px;
}

.heading-2::after {
    margin-top: 5px;
    width: 318px;
}

.heading-3::after {
    width: 138px;
}

.heading-3 span {
    text-transform: uppercase;
}

.heading-4 {
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 400;
    text-align: center;
    line-height: 82px;
}

.heading-4--green {
    color: #5DC9AC;
}

.heading-4--white {
    color: #fff;
}

/* buttons */
.btn {
    border: none;

    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    cursor: pointer;

    transition: .2s
}

.btn--green {
    background-color: #57BDA3;
    color: #fff;
}

.btn--white {
    background-color: #fff;
    color: #57BDA3;
}

.btn--slider {
    font-size: 2.2rem;
    line-height: 52px;
    width: 255px;
    box-sizing: content-box;
    margin-left: 20px;
    padding-left: 15px;
}

.btn--card {
    font-size: 1.5rem;
    padding: 8px 28px;
}

.btn--contact {
    font-weight: 700;
    font-size: 3.5rem;
    padding: 16px 28px;
}

.btn:hover,
.btn--green:hover {
    filter: brightness(1.1);
}

.btn--white:hover {
    filter: brightness(.9);
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

/* .header {} */

/* HEADER TOP */

.header__top {
    height: 41px;
    background-color: #000000;
    color: #fff;
}

/* header logo */
.header__logo {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header__logo span {
    color: #61CEAC;
}

/* header nav */
.header__nav {
    width: 287px;
    height: 100%;
}

.header__nav-list {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__nav-list-item {
    height: 100%;
}

.header__nav-link:link,
.header__nav-link:visited {
    width: 100%;
    height: 100%;
    color: inherit;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
}

/* dropdown menu */
.dropdown {
    position: relative;
}

.header__sublist::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background-color: #000;
    position: absolute;
    left: 45%;
    top: 5px;
    transform: rotate(45deg);
}

.header__sublist {
    list-style: none;
    position: absolute;
    top: 40px;
    left: -15px;
    width: 120px;
    height: 105px;
    z-index: 1;
    padding-top: 10px;

    display: none;
}

.dropdown:hover .header__sublist {
    display: block;
}

.header__sublist-item {
    background-color: #000;
    height: calc(100%/3);
}

.header__sublist-link:link,
.header__sublist-link:visited {
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    padding-left: 12px;

    display: flex;
    align-items: center;
}

.header__sublist-item:first-child .header__sublist-link {
    padding-top: 13px;
}

.header__sublist-item:nth-child(2) .header__sublist-link {
    padding-top: 4px;
}

.header__sublist-item:last-child .header__sublist-link {
    padding-bottom: 3px;
}

/* HEADER SLIDER */

.header__slider {
    background-image: linear-gradient(#fff 50%, #CCCFD6);
    height: 504px;
}

.wrap--slider>* {
    position: absolute;
}

.slider__arrow {
    font-size: 8rem;
    color: #50B09A;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;

    display: flex;
    align-items: center;
}

.slider__arrow:first-of-type {
    left: 0;
}

.slider__arrow:last-of-type {
    right: 0;
}

.slider__img {
    top: 70px;
    left: -37px;
}

.slider__img img {
    width: 125%;
    height: auto;
}

.slider__text {
    width: 414px;
    height: 245px;
    top: 134px;
    left: 490px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider__text h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
}

.slider__text h1 span {
    color: #57BDA3;
    font-weight: 700;
}

.slider__text p {
    font-size: 1.4rem;
    line-height: 160%;
}

/* ------------------------- */
/* SECTION PRODUCTS */
/* ------------------------- */

.products {
    margin-top: 26px;
    margin-bottom: 70px;
}

.product-card {

    width: 31.3%;
    height: 228px;

    position: relative;
}

.product-card>* {
    position: absolute;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card .belt {
    left: 0;
    bottom: 16px;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
    transition: .2s;
}

.product-card .belt:hover {
    background-color: rgba(255, 255, 255, .6);
}

.product-card--info {
    width: 32.3%;
    height: 254px;
    border: 1px solid grey;
    padding: 30px 22px;
}

.product-card--info p {
    font-size: 1.4rem;
    line-height: 150%;
    margin: 14px 0;

    color: #8F8F8F;
}

/* ------------------------- */
/* SECTION PRICES */
/* ------------------------- */

.prices {
    padding-bottom: 68px;
    background-color: #F2F2F2;
}

.products-plans {
    display: flex;
    justify-content: space-between;
}

.plan-card {
    position: relative;
    background-color: #F9F9F9;
    border: 2px solid #C2C2C2;
    width: 327px;
    height: 500px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan-card--green {
    background-color: #5DC9AC;
    border-color: #5DC9AC;
}

.plan-card::before {
    box-sizing: content-box;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);

    content: '';
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;

    background-color: #C2C2C2;
    border: 13px solid #fff;
    box-shadow: 0 0 0 2px #C2C2C2;
}

.plan-card.plan-card--green::before {
    background-color: #fff;
    border: 13px solid #5DC9AC;
    box-shadow: none;
}

.card-price {
    height: 164px;
    border-bottom: 2px solid #fff;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-price--green {
    border-bottom: none;
}

.card-price-container {
    border: 2px solid #C2C2C2;
    color: #C5C5C5;
    background-color: #fff;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    font-weight: 700;

    position: relative;

}

.card-price--green .card-price-container {
    border-color: #5DC9AC;
    color: #5DC9AC;
}

.card-price-value {
    position: absolute;
    font-size: 4.6rem;
    left: 33px;
    top: 24px;
}

.card-price-value--threeNumbers {
    left: 14px;
}

.card-price-value span {
    position: relative;
    left: 0;
    top: -24px;
    font-size: 1.6rem;
}

.card-price-currency {
    position: absolute;
    text-transform: uppercase;
    font-size: 1.6rem;
    left: 50%;
    bottom: 22%;
    transform: translateX(-50%)
}

.card-feature {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-feature:nth-of-type(2n-1) {
    background-color: #F2F2F2;
    color: #6F6F6F;
}

.plan-card--green .card-feature:nth-of-type(2n-1) {
    background-color: #F2F2F2;
    color: #B0B1B0;
}

.card-feature:nth-of-type(2n) {
    background-color: #E4E4E4;
    color: #909090;
}

.plan-card--green .card-feature:nth-of-type(2n) {
    background-color: #fff;
    color: #B0B1B0;
}

.card-feature p {
    font-size: 2.4rem;
}

.card-btn-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

/* ------------------------- */
/* SECTION CONTACT */
/* ------------------------- */

.contact {
    padding-bottom: 40px;
}

.contact-form {
    display: flex;

}

.col-1-of-3,
.col-2-of-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-2-of-3 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-right: 56px;
}

.col-1-of-3 {
    width: 34.5%;
    padding-right: 20px;
}

.contact-form__input {
    flex-basis: 67px;
    margin-bottom: 25px;
}

.contact-form__textarea {
    resize: none;
    flex-basis: 190px;
}

.contact-form__input,
.contact-form__textarea {
    outline: none;
    padding: 14px;
    font-size: 3rem;
    border: 1px solid #57BBA0;
    color: #909090;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
    color: #E5E5E5;
}

.contact-form__img {
    width: 100%;
    height: 210px;
    background-image: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    position: relative;
    top: -28px;
    left: 18px;
}

.contact-form__personal-data-processing {
    display: flex;
    margin-bottom: 32px;
}

.contact-form__personal-data-processing input {
    display: none;
}

.contact-form__personal-data-processing-agreement {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border: 1px solid #57BBA0;
    background-image: url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.contact-form__personal-data-processing-agreement::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 1;
    transition: .2s;
}

.contact-form__personal-data-processing input:checked+.contact-form__personal-data-processing-agreement::before {
    opacity: 0;
}

.contact-form__personal-data-processing span {
    margin-left: 14px;
    font-size: 2rem;
    color: #909090;
}

/* ------------------------- */
/* FOOTER */
/* ------------------------- */

.footer {
    color: #A7A7A7;
    padding: 40px 0;
}

.footer__copyright {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    flex-grow: 1;
}

.footer__social {
    display: flex;
}

.footer__social-item {
    padding: 0 2px;
}

.footer__social-item-link {}

.foter__logo {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-left: 66px;
}

.foter__logo span {
    font-weight: 700;

}