/* ------------------------- */
/* BASICS */
/* ------------------------- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', Tahoma, Arial, sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

/* ------------------------- */
/* REUSABLE ELEMENTS */
/* ------------------------- */

.wrap {
    max-width: 1054px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.wrap--header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap--slider {
    height: 100%;
    position: relative;
}

.wrap--products {
    display: flex;
    justify-content: space-between;
}

/* headings */
.heading-3 {
    font-size: 1.6rem;
    font-weight: 400;
}

.heading-3::after {
    content: "";
    display: block;
    background-color: #5EC9AC;
    height: 7px;
    width: 138px;
}

.heading-3 span {
    text-transform: uppercase;
}

/* .wrap--products {
    height: 100%;
} */

/* ------------------------- */
/* HEADER */
/* ------------------------- */

.header {}

/* HEADER TOP */

.header__top {
    height: 41px;
    background-color: #000000;
    color: #fff;
}

/* header logo */
.header__logo {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.header__logo span {
    color: #61CEAC;
}

/* header nav */
.header__nav {
    width: 287px;
    height: 100%;
}

.header__nav-list {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__nav-list-item {
    height: 100%;
}

.header__nav-link:link,
.header__nav-link:visited {
    width: 100%;
    height: 100%;
    color: inherit;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
}

/* dropdown menu */
.dropdown {
    position: relative;
}

.header__sublist::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background-color: #000;
    position: absolute;
    left: 45%;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header__sublist {
    list-style: none;
    position: absolute;
    top: 53px;
    left: -15px;
    width: 120px;
    height: 95px;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    /* display: none; */
}

.dropdown:hover .header__sublist {
    display: block;
}

.header__sublist-item {
    background-color: #000;
    height: calc(100%/3);
}

.header__sublist-link:link,
.header__sublist-link:visited {
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    padding-left: 12px;

    display: flex;
    align-items: center;
}

.header__sublist-item:first-child .header__sublist-link {
    padding-top: 13px;
}

.header__sublist-item:nth-child(2) .header__sublist-link {
    padding-top: 4px;
}

.header__sublist-item:last-child .header__sublist-link {
    padding-bottom: 3px;
}

/* HEADER SLIDER */

.header__slider {
    background-image: linear-gradient(#fff 50%, #CCCFD6);
    height: 504px;
}

.wrap--slider>* {
    position: absolute;
}

.slider__arrow {
    font-size: 8rem;
    color: #50B09A;
    top: 50%;
    transform: translateY(-50%);
}

.slider__arrow:first-of-type {
    left: 0;
}

.slider__arrow:last-of-type {
    right: 0;
}

.slider__img {
    top: 70px;
    left: -37px;
}

.slider__img img {
    width: 125%;
    height: auto;
}

.slider__text {
    width: 414px;
    height: 245px;
    top: 134px;
    left: 490px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider__text h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
}

.slider__text h1 span {
    color: #57BDA3;
    font-weight: 700;
}

.slider__text p {
    font-size: 1.4rem;
    line-height: 160%;
}

.slider__text button {
    border: none;
    background-color: #57BDA3;
    color: #fff;
    text-transform: uppercase;
    width: 255px;
    font-size: 2.2rem;
    letter-spacing: 2px;
    line-height: 52px;
    border-radius: 10px;
    margin-left: 16px;
}

/* ------------------------- */
/* SECTION PRODUCTS */
/* ------------------------- */

.products {
    margin-top: 26px;
    margin-bottom: 70px;
}

.product-card {

    width: 31.3%;
    height: 228px;

    position: relative;
}

.product-card>* {
    position: absolute;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card .belt {
    left: 0;
    bottom: 16px;
    height: 60px;
    width: 100%;
    background-color: rgba(255, 255, 255, .4);
    padding: 12px 14px;
}

.product-card--info {
    width: 32.3%;
    height: 254px;
    border: 1px solid grey;
    padding: 30px 22px;
}

.product-card--info p {
    font-size: 1.4rem;
    line-height: 150%;
    margin: 14px 0;

    color: #8F8F8F;
}

/* ------------------------- */
/* SECTION PRICES */
/* ------------------------- */

.prices {
    min-height: 300px;
    background-color: #F2F2F2;
}